<div class="col-sm-3 fixed text-center" id="profile">
  <img src=<%=  @profile_url %>>
  <h3><%= @first_name %> <%= @last_name %></h3>
  <p><%= @city %>, <%= @state %></p>
  <p><%= @unique_summits %> summits</p>
</div>