

<style>
.table th {
   text-align: center;   
}
.center_table {
  padding-top: 0px;
}
.content {
  padding-top: 2%;
}
#profile-content {
  padding-top: 2%;
}
#profile {
  padding-top: 3%;
}
.number-align{
  text-align: right;
}

.inactive span{
  visibility:hidden;
}

.inactive:hover span{
  visibility:visible;
}

.table th a{
  //color: #333;
  //text-decoration: none;
}

//.fixed { position: fixed; background:orange; }

</style>

<div class="container content">
  <div class="row">
    <%= render 'profile_sidebar' %>
    <div class="col-sm-9">
      <%= render 'header_tabs' %>
      <div id="profile-content">
        <div class="panel-group" id="accordion">
            <% @lists.each_with_index do |summit_list, index| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>"><%= summit_list.list_name %></a>
                  </h4>
                </div>
                <div id="collapse<%= index %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ol>
                    <% summit_list.summits.each do |summit| %>
                      <% if @summits.find_by(osm_summit_id: summit.osm_id) != nil %>
                        <li><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> <del><%= summit.name %></del></li>
                      <% else %>
                        <li><%= summit.name %></li>
                      <% end %>
                    <% end %>
                    </ol>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
