

<style>
.table th {
   text-align: center;   
}
.center_table {
  padding-top: 0px;
}
.content {
  padding-top: 2%;
}
#profile-content {
  padding-top: 2%;
}
#profile {
  padding-top: 3%;
}
.number-align{
  text-align: right;
}

.inactive span{
  visibility:hidden;
}

.inactive:hover span{
  visibility:visible;
}

.table th a{
  //color: #333;
  //text-decoration: none;
}

//.fixed { position: fixed; background:orange; }

</style>

<div class="container content">
  <div class="row">
    <div class="col-sm-3 fixed text-center" id="profile">
        <img src=<%=  @profile_url %>>
        <h3><%= @first_name %> <%= @last_name %></h3>
        <p><%= @city %>, <%= @state %></p>
        <p><%= @unique_summits %> summits</p>
        <% if @user.token %>
          <p id="status" class="text-center"></p>
        <% else %>
          <%= link_to(image_tag("ConnectWithStrava.png", size: "171x31", ), "https://www.strava.com/oauth/authorize?client_id=3764&response_type=code&redirect_uri=" + Rails.application.config.domain_root + "/users/connect&approval_prompt=force") %>
        <% end %>
    </div>
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/users/<%= @id %>">Summits</a></li>
        <li role="presentation" class="active"><a href="/users/<%= @id %>/map">Map</a></li>
        <li role="presentation"><a href="/users/<%= @id %>/lists">Peak Lists</a></li>
      </ul>
      <div id="profile-content">


<!--mapbox.js-->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<style>
  #map { 
    position:relative; height:600px; width:100%; 
  }

  .leaflet-top.leaflet-right{
    padding-top: 50px;
  }
</style>
<div id='map'></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>

console.log(<%= @summit_id %>)
  
$(document).ready(function () {
  $('#athletes-nav').addClass('active');
  $('#summits-nav').removeClass('active');
  $('#lists-nav').removeClass('active');
});

var a;

  setTimeout(function(){
    
    L.mapbox.accessToken = 'pk.eyJ1IjoiZ2tyYXRod29obCIsImEiOiJ5bXlHNXJJIn0.gjNMPWKFNso_Z5EmEjsFGA';
    var map = L.mapbox.map('map', null, {
        zoomControl: false
    })
    
    <% if @start_location %>
      map.setView(<%= @start_location %>, 13)
    <% else %>
      map.setView([37.8, -96], 4);
    <% end %>

    var layers = {
        Streets: L.mapbox.tileLayer('mapbox.streets'),
        Outdoors: L.mapbox.tileLayer('mapbox.outdoors'),
        Satellite: L.mapbox.tileLayer('mapbox.satellite'),
        Strava: L.tileLayer('http://globalheat.strava.com/tiles/both/color7/{z}/{x}/{y}.png')
    };

    map.addLayer(layers.Outdoors);
    //map.addLayer(L.tileLayer('http://ashbu.cartocdn.com/gkrathwohl/api/v1/map/c88ab91531fda88477cd97ec51cfc4f3:1466311017205/{z}/{x}/{y}.png'));

    L.control.layers({}, {'Strava Heatmap': layers.Strava}).addTo(map);

    function showActivity(id){
      console.log(id);
      $.ajax("/users/get_activity/" + id, {
        success: function(data) {
          console.log(data);

          var polyline = L.polyline(data,
            {
                color: 'red',
                weight: 2,
                opacity: .7,
                lineJoin: 'round'
            }
            ).addTo(map);
        },
        error: function() {
          console.log("error");
        }
      });
    }

    // get data
    $.ajax("/users/get_summits/<%= @user.id %>", {
      success: function(data) {
        $.each(data, function(i, summit){
          var popup = $("<div><h2 class='text-center'>"+summit.summit+"</h2><p>Elevation: "+ Math.round(summit.osm_summit_elevation * 3.28084) +" ft</p><p><a href=https://www.strava.com/activities/"+ summit.activity_id +" target='_blank'>View on Strava</a></p></div>")
          var link = $('<p><a href="#" class="speciallink">Show Activity</a></p>').click(function(event){
            event.preventDefault();
            map.setView([summit.osm_summit_lat, summit.osm_summit_lon], 16);
            showActivity(summit.activity_id)
          });
          marker = new L.marker([summit.osm_summit_lat, summit.osm_summit_lon])
            .bindPopup(popup.append(link)[0])
            .addTo(map);
        });        

      },
      error: function() {
        console.log("error");
      }
   });
  }, 200);

</script>


      </div>
    </div>
  </div>
</div>
