<div class='text-center' id='profile'>
    <img src=<%=  @profile_url %>>
    <h3><%= @first_name %> <%= @last_name %></h3>
    <p><%= @city %>, <%= @state %></p>
</div>


<style> 
    #profile{
        padding-top: 20px;
    }
</style>