

<style>
.table th {
   text-align: center;   
}
.center_table {
  padding-top: 30px;
}
.content {
  padding-top: 5%;
}
</style>

<div class="container content">
  <div class="row">
    <% if @user.token %>
      <% if @activities.count == @indexed_activities.count %>
        <p class="text-center" style="color: green" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Strava sync complete (<%= @activities.count %> activities)</p>
      <% else %>
        <p class="text-center" style="color: red"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Syncing <%= @activities.count - @indexed_activities.count %> activities. Refresh page to see progress.</p>
      <% end %>
    <% else %>
      <%= link_to(image_tag("ConnectWithStrava.png", size: "171x31", ), "https://www.strava.com/oauth/authorize?client_id=3764&response_type=code&redirect_uri=http://localhost:3000/users/connect&approval_prompt=force") %>
    <% end %>
    <div class="column col-md-offset-3 center_table">
      <h3>Summit Completions</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Elevation (meters)</th>
            <th>Strava Link</th>
          </tr>
          <% @user.summit_completions.each do |summit| %>
            <tr>
              <td><%= summit.summit %></td>
              <td><%= summit.osm_summit_elevation %></td>
              <td><a href="https://www.strava.com/activities/<%= summit.activity_id %> " target='_blank'>Activity</a></td>
            </tr>
          <% end %>
          <% if !@user.token %>
            <tr>
              <td colspan="3">
                Connect with Strava to load activities
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
