<div class="container content">
  <div class="row">
    <%= render 'profile_sidebar' %>
    <div class="col-sm-9">
      <%= render 'header_tabs' %>
      <table class="table">
        <tbody>
          <tr>
            <th id="date-th" style="text-align:left"><a class="<%= (@sort_by == "date")? '' : 'inactive'%>" href="?sorted=date">Date <span class="caret"></span></a></th>
            <th id="summit-name-th" style="text-align:left"><a class="<%= (@sort_by == "summit-name")? '' : 'inactive'%>" href="?sorted=summit-name">Summit <span class="caret"></span></a></th>
            <th id="elev-th" style="text-align:right"><a class="<%= (@sort_by == "elevation")? '' : 'inactive'%>" href="?sorted=elevation">Elevation <span class="caret"></span></a></th>
            <th id="activity-name-th" style="text-align:left"><a class="<%= (@sort_by == "activity-name")? '' : 'inactive'%>" href="?sorted=activity-name">Activity <span class="caret"></span></a></th>
          </tr>
          <% @user.summit_completions.order(@sort_string).each do |summit| %>
            <tr>
              <td><%= summit.date.strftime("%b %-d") %></td>
              <!--<td><a href="/summits/<%= summit.osm_summit_id %>"><%= summit.summit %></a></td> -->
              <td><a href="/users/<%= summit.user_id %>/map?summit_id=<%= summit.id %>"><%= summit.summit %></a></td> 
              <td class="number-align"><%= summit.osm_summit_elevation ? (summit.osm_summit_elevation * 3.28084).to_i : "-" %> ft</td>              
              <td><a target="blank" href="https://strava.com/activities/<%= summit.activity_id %>"><%= summit.activity_name %></a></td>
              <!--<td class="text-center"><a href="https://www.strava.com/activities/<%= summit.activity_id %> " target='_blank'>Activity</a></td> -->
            </tr>
          <% end %>
          <% if !@user.token %>
            <tr>
              <td colspan="3">
                Connect with Strava to load activities
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>


<script>
  var pollInterval;

  $.ajax("/users/get_status/<%= @user.id %>", {
    success: function(data) {
      updateStatus(data.activity_count, data.indexed_count);
      if(data.activity_count != data.indexed_count){
        pollProgress(data.activity_count);
      }
    }
  });

  function updateStatus(activityCount, indexedCount){
    if(activityCount == indexedCount){
      $("#status").html('<p class="text-center" style="color: green" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Strava sync complete (' + indexedCount + ' activities)</p>');
      if(typeof(pollInterval) != "undefined"){
        clearInterval(pollInterval);
      }
    }else{
      $("#status").html('<p class="text-center" style="color: red"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Syncing with Strava</p><p class="text-center" style="color: red">(' + indexedCount + ' / ' + activityCount + ' activities)</p>');
    }
  }

  function pollProgress(activityCount){
    pollInterval = setInterval(function(){ 
      $.ajax("/users/indexed_count/<%= @user.id %>", {
        success: function(data) {
          console.log(data);
          updateStatus(activityCount, data.indexed_count);
        }
      });
    }, 1000);
  }


  $(document).ready(function () {
      $('#summits-nav-tab').addClass('active-tab');
  });
</script>