<% if @user.token %>
  <p> You have <%= @activities.count %> activities on Strava, <%= @indexed_activities.count %> have been searched for summits </p>
<% else %>
  <%= link_to(image_tag("ConnectWithStrava.png", size: "171x31", ), "https://www.strava.com/oauth/authorize?client_id=3764&response_type=code&redirect_uri=http://localhost:3000/users/connect&approval_prompt=force") %>
<% end %>


<div class="container">
  <div class="row">
    <h3><%= @user.name if @user.name %>'s Summits</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Elevation (meters)</th>
            <th>Strava Link</th>
          </tr>
          <% @user.summit_completions.each do |summit| %>
            <tr>
              <td><%= summit.summit %></td>
              <td><%= summit.osm_summit_elevation %></td>
              <td><a href="https://www.strava.com/activities/<%= summit.activity_id %> " target='_blank'>Strava Activity</a></td>
            </tr>
          <% end %>
          <% if !@user.token %>
            <tr>
              <td colspan="3">
                Connect with Strava to load activities
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
