<p id="notice"><%= notice %></p>

<h1>Listing Summit Completions</h1>

<table>
  <thead>
    <tr>
      <th>Summit</th>
      <th>Userid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summit_completions.each do |summit_completion| %>
      <tr>
        <td><%= summit_completion.summit %></td>
        <td><%= summit_completion.userId %></td>
        <td><%= link_to 'Show', summit_completion %></td>
        <td><%= link_to 'Edit', edit_summit_completion_path(summit_completion) %></td>
        <td><%= link_to 'Destroy', summit_completion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summit completion', new_summit_completion_path %>
